/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, /*strong,*/ sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, /*ol, ul, li,*/
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 14px;
	background-color: #FEFEFE; /**/
}

a {
	color:#769631; /**/
	text-decoration:none;
}
a:hover {
	color: #aa3939; /**/
}

h2 {
	border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    color: #aa3939; /**/
    font-weight: bold;
	font-size: 1.1em;
    margin: 20px 0;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
	line-height: 20px;
}

h3 {
    text-transform: uppercase;
	line-height: 15px;
}

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    /*padding: 8px 6px;*/
    border: 1px solid #aa3939;
    border-radius: 0px;
    background: #e7ffb2;
    background: -webkit-gradient(linear, left top, left bottom, from(#e7ffb2), to(#759431));
    background: -moz-linear-gradient(top, #e7ffb2, #759431);
    background: linear-gradient(to bottom, #e7ffb2, #759431);
    font: 0.9em verdana;
    color: #aa3939;
    text-decoration: none;
    text-transform: uppercase;
	width: 130px;
}
.button:hover {
    border: 1px solid #ff5b5b;
    background: #ffffd6;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffd6), to(#8cb23b));
    background: -moz-linear-gradient(top, #ffffd6, #8cb23b);
    background: linear-gradient(to bottom, #ffffd6, #8cb23b);
    color: #aa3939;
    text-decoration: none;
    text-transform: uppercase
}
.button:active {
    background: #8b996b;
    background: -webkit-gradient(linear, left top, left bottom, from(#8b996b), to(#759431));
    background: -moz-linear-gradient(top, #8b996b, #759431);
    background: linear-gradient(to bottom, #8b996b, #759431);
    text-transform: uppercase
}
.button:focus {
    text-transform: uppercase
}


.clear {
	clear:both;
}

.img-container {
	text-align: center;
}

main {
	background-color: #FEFEFE; /**/
}

.content-image {
	padding:10px 10px 0 0;
}

#mainContent {
	margin: 30px auto;
    width: 990px;
}

.top-row-wrapper {
	background-color: #333333; /**/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
#top-row {
	margin: 0 auto;
    width: 990px;
	background-color: #333333; /**/
	color: #dfdfdf; /**/
	padding: 7px 0;
}
#top-row a {
	
}
#top-row .top-row-section {
	display: inline-block;
    height: 20px;
	margin-right: 50px;
}
#top-row .top-row-section  img{
	vertical-align: sub;
}







#header {
    height: 122px;
	margin: 50px auto 15px;
    width: 990px;
}

.pageHeader.wrapper {

}
#pageHeader {
	float:left;
}

#menu-top {
	float: right;
	line-height: 100px;
}

#menu-top li{
	list-style: none;
	float: left;
	
}

#menu-top li a{
	padding-left: 20px;
	font-weight: bold;	
	font-size: 1.2em;
}









#main-slider {
	clear: both;
	margin: 15px auto;
    width: 990px;
}
ul.bxslider {
	margin:0;
}







.main-title {
	background-color: #333333; /**/
	color: #dfdfdf; /**/
	height: 30px;
	line-height:30px;
	text-align:center;
	padding: 20px 0;
	font-size: 1.3em;
}





.wrapper-servizi {
	background-color: #f5f5f5; /**/
    padding: 20px 0;
	border-bottom: 1px solid #333333; 
}
#servizi {
	height: 250px;
    margin: 15px auto;
    width: 990px;
}
#servizi .servizio  {
	float: left;
    width: 25%;
	position: relative;
}

.servizio  .immagini {
	float: left;
    margin-right: 5px;
    width: 100px;
}

.servizio  img { 
	display:block;
}

.servizio  .descrizione {
	font-size: 0.85em;
	margin-right: 8px;
}

.servizio  h3 {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 0.9em;
}

.servizio  a.button {
	position:absolute;
	bottom:0;
	/*text-align: center;*/
	/*font-weight: bold;*/
}







#sezioni  {
	margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    width: 990px;
}

#sezioni .sezione  {
	float: left;
    margin-right: 45px;
    width: 300px;
}
#sezioni .sezione.last  {
    margin-right: 0;
}
.sezione h3  {
	margin-top:20px;
}



#chi-sono, #dove-opero, #macchinari {
	margin: 0 auto;
    padding: 10px 0 50px;
    width: 990px;
}

.content {
	line-height: 20px;
}
.content img {
	padding: 13px;
}

#chi-sono img {
	float:left;
}

#dove-opero img {
	float:right;
}








#footer {
	clear: both;
	color: #dfdfdf /**/
}

#footer .menu-bottom {
	border-top: 1px solid #333;
    line-height: 30px;
    text-align: center;
	background-color: #f5f5f5; /**/
}

#footer .menu-bottom a{
	padding: 10px;
}

#committente {
	background-color: #333333; /**/
    line-height: 25px;
    padding: 10px 0;
    text-align: center;
}

#committente .recapiti .tel {
	margin-right: 30px;
}




/*Stili specifici per pagina*/
#img-1-gep {
	float:left;
}
#img-2-gep {
	float:right;
}

.gallery .content-image  {
	margin-bottom: 10px;
	padding: 8px 4px 0 0;
}

.gt .subsection {
	padding-bottom: 40px;
}
.gt .content img {
	float:left;
	padding-top: 0;
}

.home  .menu_home  a {
	color: #aa3939;
}
.gep  .menu_giardiniere_enti_pubblici  a {
	color: #aa3939;
}
.gallery  .menu_gallery  a {
	color: #aa3939;
}
.contatti  .menu_contatti  a {
	color: #aa3939;
}

.pt .content-image {
	float:left;
	padding:8px;
}